table
  thead
    tr
      th Mimo Header One
      th Mimo Header Two
      th Mimo Header Three
  tbody
    tr
      td Mimo Row Item One
      td Mimo Row Item Two
      td Mimo Row Item Three
    tr
      td Mimo Row Item One
      td Mimo Row Item Two
      td Mimo Row Item Three
    tr
      td Mimo Row Item One
      td Mimo Row Item Two
      td Mimo Row Item Three
