/*

  navigation/menu

*/


/* ================
// Options Menu
// ============= */

.huaban-menu {
  @include list-reset;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  border-bottom: 1px dashed $m1;

  ol {
    @include list-reset;
    display: flex;
  }

    li {
      display: flex;
      align-items: center;
      border-right: 1px dashed $m1;
      padding: em(12);
      cursor: pointer;
      fill: $m1;
    }

    .rough-divide {
      border-right-width: em(2);
    }

      svg {
        display: block;
        fill: inherit;
        transition: fill .2s;
      }

}
