/*

  components/forms

*/


/* ================
// Form Container
// ============= */

form {}

  fieldset {
    border: 0;
    padding: 0;
  }


/* ================
// Input
// ============= */

input {

  &:default {}

  &:disabled {}

  &:checked {}

}

[type='range'] {
  width: 100%;
  background: #fff;
}

[type='text'] {}

[type='radio'] {}

[type='checkbox'] {}


/* ================
// Textarea
// ============= */

textarea {}


/* ================
// Label
// ============= */

label {}


/* ================
// Placeholder
// ============= */

// https://css-tricks.com/snippets/css/style-placeholder-text/

::placeholder {}


/* ================
// Select / Option
// ============= */

select {
  width: 100%;
}


/* ================
// Datalist
// ============= */

datalist {}
