/*

  components/html

*/


/* ================
// Anchors
// ============= */

a {

  &:hover {}

  &:visited {}

}


/* ================
// Article
// ============= */

article {}


/* ================
// Blockquote / Cite
// ============= */

blockquote {
  margin: em(20);

  // Unicode for an open quote
  &:before {
    content: '\201C';
  }

  // Unicode for a closed quote
  &:after {
    content: '\201D';
  }

}

cite {
  margin: em(20);
  font-style: normal;

  &:before {
    content: '';
  }

}


/* ================
// Lists
// ============= */

ul {}

ol {}

  li {}

dl {}

  dt {}

  dd {}


/* ================
// Paragraphs
// ============= */

p {
  margin: em(20) 0;
}


/* ================
// Table
// ============= */

table {
  width: 100%;
  margin: em(20) 0;
}

  tr {}

    th,
    td {
      vertical-align: top;
    }

    th {
      padding: em(20) rem(20);
      font-weight: normal;
      text-align: left;
    }

    td {
      padding: em(20);

      @at-root tr:nth-of-type(odd) td {
        background: rgba(#000, .05);
      }

    }


/* ================
// Time
// ============= */

time {}
