/*

  components/sprite

*/

/* ================
// Symbols
// ============= */

.symbol {

  &-delete {
    height: em(22);
    width: em(22);
  }

  &-clear {
    height: em(25);
    width: em(25);
  }

  &-undo {
    height: em(28);
    width: em(28);
  }

  &-feedback {
    height: em(25);
    width: em(25);
  }

  &-lens {
    height: em(14);
    width: em(14);
  }

  &-format_color_fill {
    height: em(20);
    width: em(20);
  }

  &-file_download {
    height: em(25);
    width: em(25);
  }

  &-close {
    height: em(20);
    width: em(20);
  }

}
