/*

  components/sprite

*/

/* ================
// Symbols
// ============= */

.symbol {

  &-delete {
    height: em(25);
    width: em(25);
  }

  &-undo {
    height: em(25);
    width: em(25);
  }

  &-feedback {
    height: em(25);
    width: em(25);
  }

}
